<a href="https://colab.research.google.com/github/1309byhong/Likelion_13th_Datacourse/blob/main/Day11_211216.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3 라이브러리 불러오기

In [2]:
import pandas as pd #데이터 분석 
import seaborn as sns #데이터 시각화
import numpy as np #수치계산을 위한 라이브러리

4 FinanceDataReader로 수집한 전체 종목 불러오기

In [1]:
df = pd.read_csv("krx.csv")
df.shape

NameError: ignored

In [3]:
!pip install -U finance-dataReader

Collecting finance-dataReader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (4.2.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (4.62.3)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (1.1.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-dataReader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (2.10)
Installing collected packages: requests-file, finance-dataReader
Successfully installed finance-dataReader-0.9.31 requests-file-1.5.1

In [5]:
import FinanceDataReader as fdr

In [6]:
df = fdr.DataReader('005930',"2017","2021")
df.head()

             Open   High    Low  Close  Volume    Change
Date
2017-01-02  35980  36240  35880  36100   93012  0.001665
2017-01-03  36280  36620  36020  36480  147153  0.010526
2017-01-04  36500  36520  36100  36160  159435 -0.008772
2017-01-05  36060  36060  35540  35560  219349 -0.016593
2017-01-06  36180  36440  36040  36200  177619  0.017998

In [7]:
df.head?

In [8]:
df.head()

             Open   High    Low  Close  Volume    Change
Date
2017-01-02  35980  36240  35880  36100   93012  0.001665
2017-01-03  36280  36620  36020  36480  147153  0.010526
2017-01-04  36500  36520  36100  36160  159435 -0.008772
2017-01-05  36060  36060  35540  35560  219349 -0.016593
2017-01-06  36180  36440  36040  36200  177619  0.017998

In [9]:
df.head(1)

             Open   High    Low  Close  Volume    Change
Date
2017-01-02  35980  36240  35880  36100   93012  0.001665

In [10]:
df.tail()

             Open   High    Low  Close    Volume    Change
Date
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

In [11]:
df.sample()

             Open   High    Low  Close    Volume   Change
Date
2020-05-07  49200  49300  48700  48800  13884411 -0.00813

5 데이터 요약하기

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 981 entries, 2017-01-02 to 2020-12-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    981 non-null    int64
 1   High    981 non-null    int64
 2   Low     981 non-null    int64
 3   Close   981 non-null    int64
 4   Volume  981 non-null    int64
 5   Change  981 non-null    float64
dtypes: float64(1), int64(5)
memory usage: 53.6 KB

In [13]:
#describe로 기술통계값을 봅니다
df.describe()

               Open          High  ...        Volume      Change
count    981.000000    981.000000  ...  9.810000e+02  981.000000
mean   49110.895005  49617.737003  ...  1.029937e+07    0.000971
std     7428.301314   7529.397767  ...  1.002108e+07    0.017071
min        0.000000      0.000000  ...  0.000000e+00   -0.063877
25%    44850.000000  45400.000000  ...  2.808360e+05   -0.009018
50%    47960.000000  48400.000000  ...  9.311126e+06    0.001064
75%    52500.000000  53120.000000  ...  1.555093e+07    0.010628
max    79000.000000  81300.000000  ...  6.349111e+07    0.104706

[8 rows x 6 columns]