<a href="https://colab.research.google.com/github/1309byhong/Likelion_13th_Datacourse/blob/main/Day18_220309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#파이썬-반복문

# for , while


for i in range(3):
  print(i)
  print("철수:안녕 영희야 뭐해?")
  print("영희:안녕 철수야, 그냥 있어.")

0
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
1
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
2
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.

In [1]:
i = 0
while i < 3 : 
  print(i) #0
  print("철수:안녕 영희야 뭐해?")
  print("영희:안녕 철수야, 그냥 있어.")
  i = i + 1 #i = 2 + 1 = 3

0
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
1
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
2
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.

In [1]:
#for / while
#break / continue

i = 0
while i < 3 : 
  print(i) #0
  print("철수:안녕 영희야 뭐해?")
  print("영희:안녕 철수야, 그냥 있어.")
  i = i + 1 #i = 2 + 1 = 3

  if i > 2 :
    break

0
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
1
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
2
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.

In [4]:
#for / while
#break / continue

for i in range(3): 
  print(i) #0
  print("철수:안녕 영희야 뭐해?")
  print("영희:안녕 철수야, 그냥 있어.")
  
  if i == 1:
    continue
    print("워니:안녕 철수와 영희야")

0
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
1
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.
2
철수:안녕 영희야 뭐해?
영희:안녕 철수야, 그냥 있어.

In [5]:
##자료구조
#(1) 리스트
#(2) 튜플
#(3) 딕셔너리

In [6]:
x = list()
y = []

print(x)
print(y)

[]
[]

In [8]:
x = [1,2,3]
y = ["hello","world"]
z = ["hello",1,2,3]

print(x)
print(y)
print(z)
print(x+y)

[1, 2, 3]
['hello', 'world']
['hello', 1, 2, 3]
[1, 2, 3, 'hello', 'world']

In [12]:
x = [1,2,3,4]

print(x[0])
print(x[3])
x[3] = 10
print(x)

1
4
[1, 2, 3, 10]

In [13]:
x = [1,2,3,4] 

num_elements = len(x)
print(num_elements)

4

In [15]:
x = [4,2,3,1] 

sorted(x)
print(x)

[1, 2, 3, 4]

In [16]:
x = [4,2,3,1] 

y = sorted(x)
print(y)

[1, 2, 3, 4]

In [17]:
x = [4,2,3,1] 

z = sum(x)
print(z)

10

In [19]:
#중요
x = [4,2,3,1] 

for n in x :
  print(n)

4
2
3
1

In [20]:
x = [4,3,2,1]
y = ["hello","there"]

for c in y:
  print(c)

hello
there

In [30]:
x = [4,2,3,1]
y = ["hello","there"]

print(x.index(3))
print(y.index("hello"))
#print(y.index(10)) #없는걸 물어보면 it is not in list
print("hello" in y) #hello가 y안에 있어?
print("bye" in y) 

if "hello" in y :
  print("hello가 있어요.")

2
0
True
False
hello가 있어요.

In [32]:
##튜플 tuple

x = tuple()
y = ()

print(x)
print(y)

()
()

In [38]:
x = (1,2,3)
y = ('a','b','c')
z = (1, "hello","there") 

x[0] = 10 # 튜플은 엘레멘트값을 못바꿈 
# TypeError: 'tuple' object does not support item assignment
# 가변하다, 불변하다 
# mutable(가변) : list  | vs | immutable(불변) : tuple

print(x+y)
print('a' in y)
print(z.index(1))

TypeError: ignored

In [39]:
# 딕셔너리 key : value

x = dict()
y = {}

print(x)
print(y)

{}
{}

In [43]:
x = {
    "name" : "잡스",
    "age" : 20,
}

print(x)
print(x["name"]) # x라는 딕셔너리에 name - key에 있는 value가 무엇인지.
print(x["age"]) # y라는 딕셔너리에 age - key에 있는value가 무엇인지.

{'name': '잡스', 'age': 20}
잡스
20