<a href="https://colab.research.google.com/github/1309byhong/Likelion_13th_Datacourse/blob/main/Day12_211220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# df = pd.read_csv("krx.csv")
# df.shape

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
!pip install -U finance-dataReader

Collecting finance-dataReader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (1.1.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (2.23.0)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-dataReader) (4.62.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-dataReader) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-dataReader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-dataReader) (3.0.4)
Installing collected packages: requests-file, finance-dataReader
Successfully installed finance-dataReader-0.9.31 requests-file-1.5.1

In [6]:
import FinanceDataReader as fdr

In [7]:
df = fdr.DataReader('005930')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6000 entries, 1997-11-15 to 2021-12-20
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    6000 non-null   int64
 1   High    6000 non-null   int64
 2   Low     6000 non-null   int64
 3   Close   6000 non-null   int64
 4   Volume  6000 non-null   int64
 5   Change  5999 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 328.1 KB

In [9]:
df.describe()

              Open          High  ...        Volume       Change
count   6000.00000   6000.000000  ...  6.000000e+03  5999.000000
mean   22152.02000  22386.667833  ...  2.854082e+06     0.001085
std    19487.86287  19660.512270  ...  6.627864e+06     0.025452
min        0.00000      0.000000  ...  0.000000e+00    -0.137566
25%     8447.50000   8577.500000  ...  2.852340e+05    -0.012055
50%    14900.00000  15049.500000  ...  4.662305e+05     0.000000
75%    29020.00000  29380.000000  ...  8.691865e+05     0.012914
max    90300.00000  96800.000000  ...  9.030618e+07     0.150000

[8 rows x 6 columns]

In [10]:
df.nunique()

Open      2554
High      2673
Low       2677
Close     2451
Volume    5987
Change    4984
dtype: int64

In [11]:
df.index

DatetimeIndex(['1997-11-15', '1997-11-17', '1997-11-18', '1997-11-19',
               '1997-11-20', '1997-11-21', '1997-11-22', '1997-11-24',
               '1997-11-25', '1997-11-26',
               ...
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-20'],
              dtype='datetime64[ns]', name='Date', length=6000, freq=None)

In [12]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Change'], dtype='object')

In [16]:
# 값만 보기
df.values

# 함수(메소드)와 attribute의 차이

array([[ 7.95000000e+02,  7.98000000e+02,  7.86000000e+02,
         7.95000000e+02,  2.44310000e+05,             nan],
       [ 7.95000000e+02,  8.11000000e+02,  7.50000000e+02,
         7.54000000e+02,  2.30630000e+05, -5.15723270e-02],
       [ 7.32000000e+02,  7.66000000e+02,  7.16000000e+02,
         7.56000000e+02,  3.67558000e+05,  2.65251989e-03],
       ...,
       [ 7.85000000e+04,  7.85000000e+04,  7.74000000e+04,
         7.78000000e+04,  1.19961280e+07,  2.57731959e-03],
       [ 7.68000000e+04,  7.80000000e+04,  7.68000000e+04,
         7.80000000e+04,  1.31084790e+07,  2.57069409e-03],
       [ 7.76000000e+04,  7.78000000e+04,  7.68000000e+04,
         7.71000000e+04,  1.11708450e+07, -1.15384615e-02]])

In [15]:
pd.DataFrame(df.values)

            0        1        2        3           4         5
0       795.0    798.0    786.0    795.0    244310.0       NaN
1       795.0    811.0    750.0    754.0    230630.0 -0.051572
2       732.0    766.0    716.0    756.0    367558.0  0.002653
3       755.0    773.0    732.0    768.0    365690.0  0.015873
4       775.0    777.0    711.0    738.0    489395.0 -0.039062
...       ...      ...      ...      ...         ...       ...
5995  76500.0  77200.0  76200.0  77000.0  10976660.0  0.002604
5996  76400.0  77600.0  76300.0  77600.0   9584939.0  0.007792
5997  78500.0  78500.0  77400.0  77800.0  11996128.0  0.002577
5998  76800.0  78000.0  76800.0  78000.0  13108479.0  0.002571
5999  77600.0  77800.0  76800.0  77100.0  11170845.0 -0.011538

[6000 rows x 6 columns]

6 데이터 색인하기

In [17]:
df

             Open   High    Low  Close    Volume    Change
Date
1997-11-15    795    798    786    795    244310       NaN
1997-11-17    795    811    750    754    230630 -0.051572
1997-11-18    732    766    716    756    367558  0.002653
1997-11-19    755    773    732    768    365690  0.015873
1997-11-20    775    777    711    738    489395 -0.039062
...           ...    ...    ...    ...       ...       ...
2021-12-14  76500  77200  76200  77000  10976660  0.002604
2021-12-15  76400  77600  76300  77600   9584939  0.007792
2021-12-16  78500  78500  77400  77800  11996128  0.002577
2021-12-17  76800  78000  76800  78000  13108479  0.002571
2021-12-20  77600  77800  76800  77100  11170845 -0.011538

[6000 rows x 6 columns]

In [18]:
fdr

In [20]:
df.loc[0]

KeyError: ignored

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df

             Open   High    Low  Close    Volume    Change
Date
1997-11-15    795    798    786    795    244310       NaN
1997-11-17    795    811    750    754    230630 -0.051572
1997-11-18    732    766    716    756    367558  0.002653
1997-11-19    755    773    732    768    365690  0.015873
1997-11-20    775    777    711    738    489395 -0.039062
...           ...    ...    ...    ...       ...       ...
2021-12-14  76500  77200  76200  77000  10976660  0.002604
2021-12-15  76400  77600  76300  77600   9584939  0.007792
2021-12-16  78500  78500  77400  77800  11996128  0.002577
2021-12-17  76800  78000  76800  78000  13108479  0.002571
2021-12-20  77600  77800  76800  77100  11170845 -0.011538

[6000 rows x 6 columns]

In [26]:
df["Open"][0]

795

In [28]:
df.loc[0, "Open"]

KeyError: ignored