<a href="https://colab.research.google.com/github/1309byhong/Likelion_13th_Datacourse/blob/main/Day2_211207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#실수형 자료형

In [2]:
#고정소수점(Fixed-point)

In [3]:
f = 12.34
print(f)
print(type(f))

12.34
<class 'float'>

In [4]:
f = 0.123
print(f)

0.123

In [5]:
#부동소수점

In [7]:
e = 1234e-2
print(e)
print(type(e))

12.34
<class 'float'>

In [8]:
e = 1234e-3
print(e)

1.234

In [10]:
c = 1 + 23j
print(c)
print(type(c))

(1+23j)
<class 'complex'>

In [11]:
#리스트 자료형(List type)

In [14]:
l = [1, 2 , 3]
print(l)
print(type(l))

[1, 2, 3]
<class 'list'>

In [16]:
l = [1,"one",2,"two",3,"three"]
print(l)
print(type(l))

[1, 'one', 2, 'two', 3, 'three']
<class 'list'>

In [18]:
#튜플자료형(tuple type) - 리스트 자료형과 유사하지만 생성,삭제,수정이불가

In [19]:
t = (1,2,3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [20]:
#범위자료형(range type)-불변한 숫자 시쿼스 자료형

In [22]:
r = range(10)
print(r)
print(type(r))

range(0, 10)
<class 'range'>

In [23]:
#집합자료형(set type)

In [25]:
s = (2,3,1)
print(s)
print(type(s))

(2, 3, 1)
<class 'tuple'>

In [27]:
s = {2,3,1}
print(s)
print(type(s))

fs = frozenset(s)
print(fs)
print(type(fs))

{1, 2, 3}
<class 'set'>
frozenset({1, 2, 3})
<class 'frozenset'>