<a href="https://colab.research.google.com/github/1309byhong/Likelion_13th_Datacourse/blob/main/Day6_211211.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#str() #repr()

In [4]:
print(str(True))
print(str(False))
print(str(10))
print(str(0b010))
print(str(0o130))
print(str(0xABC))
print(str(12.34))
print(str(1234e-2))
print(str(1+23j))
print(str('10'))
print(str([1,2,3]))
print(str((1,2,3)))
print({2,3,1})
print(str({1:'one',2:'Two'}))

True
False
10
2
88
2748
12.34
12.34
(1+23j)
10
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{1: 'one', 2: 'Two'}

In [5]:
#eval()

In [8]:
print("1+2")
print(eval("1+2"))
print(eval("10+20-30"))
print(eval("10+10"))
print(eval("100/10"))

1+2
3
0
20
10.0